
/* After you've linked the CSS file in the HTML,
this should turn the background blue ;) */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}


.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
/* Header Styles */
header {
  height: 30vh;;
  text-align: center;
  padding: 20px 0;
  background:url("./image/flower2.jpg");
  background-position:center;
  background-size:100%;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

}

header h1,p{
  width: fit-content;
  backdrop-filter: blur(10px);
  font-family: "DM Serif Display";
}

h1{
  padding-inline: 10px;
  font-size: 52px;
}

header p{
  font-size: 20px;
}
/* Navigation Styles */
nav {
  display: flex;
  justify-content: center;
  background-color: #333;
}
nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-family: "DM Serif Display";
}
/* Content Styles */
.flower-img-box{
  display:flex;
}
.flower-img {
width: 50%;
}

.flower3-img {
width: 50%;
}
/* Form Styles */
.form-container {
  background-color: #EEEFF1 ;
  padding: 1.25em;
  border-radius: 0.625em;
  margin: 1.25em auto;
  max-width: 75em;
}
/* Page Image Styles */
.page-image {
  text-align: center;
  margin-top: 1.25em;
}
/* Footer Styles */
footer {
  color: white;
  text-align: center;
  padding: 1.25em;
  background-color: black;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  /* Styles for tablets and smaller screens */
  nav {
    flex-direction: column;
    align-items: center;
  }
  .form-container {
    margin: 1.25em 0;
  }
}

@media screen and (max-width: 480px) {
  /* Styles for mobile screens */
  nav a {
    padding: 0.5em 1em;
  }
}